In [2]:
import pandas as pd

# Load the dataset
file_path = "C:/Users/LENOVO/Downloads/Africa_climate_change.csv"
df = pd.read_csv(file_path)

In [3]:
df

                   DATE  PRCP  TAVG  TMAX  TMIN   COUNTRY
0       19800101 000000   NaN  54.0  61.0  43.0   Tunisia
1       19800101 000000   NaN  49.0  55.0  41.0   Tunisia
2       19800101 000000   0.0  72.0  86.0  59.0  Cameroon
3       19800101 000000   NaN  50.0  55.0  43.0   Tunisia
4       19800101 000000   NaN  75.0  91.0   NaN  Cameroon
...                 ...   ...   ...   ...   ...       ...
464810  20230823 000000   NaN  85.0  89.0   NaN   Senegal
464811  20230823 000000   NaN  80.0  90.0  72.0     Egypt
464812  20230823 000000   NaN  87.0   NaN  73.0     Egypt
464813  20230823 000000   0.0  82.0  94.0   NaN   Senegal
464814  20230823 000000   NaN  83.0   NaN   NaN  Cameroon

[464815 rows x 6 columns]

In [4]:
# Display basic information about the dataset
print(df.info())

# Check for missing values
missing_values = df.isnull().sum()
print(missing_values)

# Fill missing values or drop them, depending on the data
# For example, let's drop rows with any missing values
df = df.dropna()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464815 entries, 0 to 464814
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   DATE     464815 non-null  object
 1   PRCP     177575 non-null  float64
 2   TAVG     458439 non-null  float64
 3   TMAX     363901 non-null  float64
 4   TMIN     332757 non-null  float64
 5   COUNTRY  464815 non-null  object
dtypes: float64(4), object(2)
memory usage: 21.3+ MB
None
DATE            0
PRCP       287240
TAVG         6376
TMAX       100914
TMIN       132058
COUNTRY         0
dtype: int64

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns

# Filter data for Tunisia and Cameroon
tunisia_data = df[df['Country'] == 'Tunisia']
cameroon_data = df[df['Country'] == 'Cameroon']

KeyError: 'Country'

In [ ]:
# Plot the data
plt.figure(figsize=(10, 6))
plt.plot(tunisia_data['Year'], tunisia_data['AvgTemperature'], label='Tunisia')
plt.plot(cameroon_data['Year'], cameroon_data['AvgTemperature'], label='Cameroon')
plt.xlabel('Year')
plt.ylabel('Average Temperature')
plt.title('Average Temperature Fluctuations in Tunisia and Cameroon')
plt.legend()
plt.show()